@charset "UTF-8";

/* fundo do texto */
html{
	overflow-x:hidden; /*para não mostrar a barra de rolagem*/
}

div#interface {
	background-color: #012711;
	width: 900px;
	padding: 30px;
	border-radius: 30px;
	border: 1.5px solid white;
	margin: auto;
}

/* fundo do site, cor da letra e fonte */
body {
	color: #ffffff;
	font-family: customFont3;
	background-image: url("../_images/fundo_morango.png");
}

/* fonte personalizada */
@font-face {
  font-family: customFont;
  src: url("../_font/BukhariScript-lemD.ttf");
}

/* fonte personalizada 2 */

@font-face {
  font-family: customFont2;
  src: url("../_font/Quicksand-VariableFont_wght.ttf");
}

/* fonte personalizada 3 */

@font-face {
  font-family: customFont3;
  src: url("../_font/PatrickHand-Regular.ttf");
}

/*p {
	text-align: justify;
	text-indent: 30px;
	font-size: 12pt;
	font-weight: 200;
}*/

p {
	text-align: justify;
	text-indent: 30px;
	font-size: 14pt;
	font-weight: 500;
}

div#interface h1 {
	color: #7ED957;
	text-align: center;
	font-size: 30pt;
	font-family: customFont3;
	font-weight: bold;
	text-shadow: 2px 1px 1px #000000;
	/*font-weight: 200;*/
	/*text-shadow: 2px 1px 1px #5271ff;*/
}

div#interface h2 {
	color: #7ED957;
	font-size: 16pt;
	font-family: customFont3;
	font-weight: bold;
	text-shadow: 2px 1px 1px #4d0c0c;
}

/* formatação do cabeçalho */
header#cabecalho {
	background-image: url("../_images/logo.png");
	background-color: #4D0C0C;
	margin: -25px auto auto auto;
	background-size: 190px 150px;
	background-repeat: no-repeat;
	height: 180px;
	width: 950px;
	font-family: customFont;
}

/* formatação do menu */
nav#menu {
	display: block;
}

nav#menu h1{
	display: none;
}

nav#menu ul {
	list-style: none;
	position: relative;
	top: 50px;
	left: 650px;
}

nav#menu li {
	display: inline-block;
	/*background-image: url("../_images/Icons/item_logo.png");*/
	background-color: #012711;
	background-size: 90px 50px;
	border-radius: 20px;
	border: 1.5px solid white;
	/*background-repeat: no-repeat;*/
	padding: 15px;
	background-position: 50% .0em;
}

nav#menu a {
	text-decoration: none;
	color: #ffffff;
	transition: color .4s;
}

nav#menu a:hover {
	color: #7ED957;
}


figure#foto-noticia {
	margin-left: 10px;
}

figure#foto-noticia img {
	padding: 5px;
	border: 1px solid #545454;
	width: 250px;
	height: 250px;
	/*margin: auto;*/
}

figure#foto-noticia figcaption {
	font-size: 11pt;
	text-align: center;
	padding-left: 25px;
	/*padding: 5px;*/
}

footer#rodape {
	clear: both;
	border-top: 1px dashed #545454;
	padding-top: 20px;
	text-align: center;
}

footer#rodape a {
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

footer#rodape span:hover {
	color: #7ED957;
	cursor: pointer;
}

footer#rodape {
	font-family: customFont;
}

footer#rodape span {
	transition: color .4s;
	/*font-family: customFont;*/
}

img#lampada {
	/*position: absolute;*/
	position: relative;
	top: -75px;
	left: 500px;
	width: 75px;
	height: 75px;
}